body {
  
  position:center ;
  background-image:url("https://i.ytimg.com/vi/Xx2XZxZlofI/maxresdefault.jpg") ;
}

#BOT {
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #694bca;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 20%;
  margin-left: 45%;
  
}
#BOT:hover{background-color: #1da5a5ad}
#BOT:active {
    background-color: #3e878e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#text {
    font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}


h1{
    color: rgb(221, 213, 215);
    
    animation: haha 3s ease infinite;
    margin-left: 23%;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif

}
@keyframes haha {
    0%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 15px;
    }
}
.New {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 30%;
    margin-left: 45%;
    
}

body {
    background-image: url(https://i.ytimg.com/vi/Xx2XZxZlofI/maxresdefault.jpg);
    background-size: cover;
}
.img1 {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  margin-left: 35%;
  margin-top: -15%; 
}
.img2 {
  border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 400px;
margin-left: 35%;
margin-top: -15%; 
}
.img3 {
  border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 400px;
margin-left: 35%;
margin-top: -15%; 
}
.img4 {
  border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 400px;
margin-left: 35%;
margin-top: -15%; 
}
.img5 {
  border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 400px;
margin-left: 35%;
margin-top: -15%; 
}
.img6 {
  border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 400px;
margin-left: 35%;
margin-top: -15%; 
}

#orden {
padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #694bca;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 15%;
  margin-left: 15%;
  
}



#orden:hover{background-color: #1da5a5ad}
#orden:active {
    background-color: #3e878e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#palastin {
    padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #694bca;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      margin-top: 15%;
      margin-left: 15%;
      
    }
    #palastin:hover{background-color: #1da5a5ad}
    #palastin:active {
        background-color: #3e878e;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    #egypt {
        padding: 15px 25px;
          font-size: 24px;
          text-align: center;
          cursor: pointer;
          outline: none;
          color: #fff;
          background-color: #694bca;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
          margin-top: 15%;
          margin-left: 15%;
          
        }
        #egypt:hover{background-color: #1da5a5ad}
        #egypt:active {
            background-color: #3e878e;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
        #emirates {
            padding: 15px 25px;
              font-size: 24px;
              text-align: center;
              cursor: pointer;
              outline: none;
              color: #fff;
              background-color: #694bca;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
              margin-top: 15%;
              margin-left: 15%;
              
            }
            #emirates:hover{background-color: #1da5a5ad}
            #emirates:active {
                background-color: #3e878e;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }


            #USA {
              padding: 15px 25px;
                font-size: 24px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #694bca;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
                margin-top: 15%;
                margin-left: 15%;
                
              }
              #USA:hover{background-color: #1da5a5ad}
        #USA:active {
            background-color: #3e878e;
          box-shadow: 0 5px #666;
          transform: translateY(4px); }
          #france {
            padding: 15px 25px;
              font-size: 24px;
              text-align: center;
              cursor: pointer;
              outline: none;
              color: #fff;
              background-color: #694bca;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
              margin-top: 15%;
              margin-left: 15%;
              
            }
            #france:hover{background-color: #1da5a5ad}
      #france:active {
          background-color: #3e878e;
        box-shadow: 0 5px #666;
        transform: translateY(4px); }




        #canada {
          padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #694bca;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
            margin-top: 15%;
            margin-left: 15%;
            
          }
          #canada:hover{background-color: #1da5a5ad}
    #canada:active {
        background-color: #3e878e;
      box-shadow: 0 5px #666;
      transform: translateY(4px); }




      #Russia {
        padding: 15px 25px;
          font-size: 24px;
          text-align: center;
          cursor: pointer;
          outline: none;
          color: #fff;
          background-color: #694bca;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
          margin-top: 15%;
          margin-left: 15%;
          
        }
        #Russia:hover{background-color: #1da5a5ad}
  #Russia:active {
      background-color: #3e878e;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }




   #Maurice {
      padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #694bca;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-top: 15%;
        margin-left: 15%;
        
      }
      #Maurice:hover{background-color: #1da5a5ad}
#Maurice:active {

  background-color: #3e878e;
  box-shadow: 0 5px #666;
  transform: translateY(4px); }


  #eswatini {
    padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #694bca;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-top: 15%;
        margin-left: 15%;
      
    }
    #eswatini:hover{background-color: #1da5a5ad}
#eswatini:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }


#Maldives {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 15%;
    margin-left: 15%;
    
  }
  #Maldives:hover{background-color: #1da5a5ad}
#Maldives:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

#Seychelles {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 15%;
    margin-left: 15%;
    
  }
  #Seychelles:hover{background-color: #1da5a5ad}
#Seychelles:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }



#argentina {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 15%;
    margin-left: 15%;
    
  }
  #argentina:hover{background-color: #1da5a5ad}
#argentina:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }


#germany {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 15%;
    margin-left: 15%;
    
  }
  #germany:hover{background-color: #1da5a5ad}
#germany:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }


#uruguay {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 15%;
    margin-left: 15%;
    
  }
  #uruguay:hover{background-color: #1da5a5ad}
#uruguay:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

#Philippines {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 77%;;
    margin-left: 84%;
    
  }
  #Philippines:hover{background-color: #1da5a5ad}
#Philippines:active {

background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }
.danimarca {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: 86%;
    
  }
  .danimarca:hover{background-color: #1da5a5ad}
.danimarca:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }
.dominican {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: 63%;
    
  }
  .dominican:hover{background-color: #1da5a5ad}
.dominican:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

.australia {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: 33%;
    
  }
  .australia:hover{background-color: #1da5a5ad}
.australia:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

.espain {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: 10%;
    
  }
  .espain:hover{background-color: #1da5a5ad}
.espain:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

#box{
  color: rgb(190, 190, 190);
  font-size: xx-largesss;
  box-sizing: content-box;  
  width: 100px;
  height: 100px;
  padding: 30px;  
  border: 10px solid rgb(0, 26, 255);
  background-color: black;
  
    
  animation:linear;
  margin-left: 0%;
  margin-top: 150px;
 font-size:large ;
}

.poland {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: 3%;
    
  }
  .poland:hover{background-color: #1da5a5ad}
.poland:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

.hungary {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: 24%;
    
  }
  .hungary:hover{background-color: #1da5a5ad}
.hungary:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

.greece {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: -22%;
    
  }
  .greece:hover{background-color: #1da5a5ad}
.greece:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }

.turkey {
  padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #694bca;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
        top: 71%;;
    margin-left: -45%;
    
  }
  .turkey:hover{background-color: #1da5a5ad}
.turkey:active {
background-color: #3e878e;
box-shadow: 0 5px #666;
transform: translateY(4px); }